.idea
.git
.github
nginx
tmp
post-man

.dockerignore
.env
.env.example
.golangci.yml
.gitignore
.air.toml
mise.toml

coverage.txt
todo.txt

docker-compose.yml

integration_test

LICENSE
Makefile
README*