# App
APP_NAME=go-post-article
APP_VERSION=1.0.0

# HTTP Server
HTTP_PORT=8080

# Log
LOG_LEVEL=debug

# Swagger
SWAGGER_ENABLED=true

# MYSQL
MYSQL_POOL_MAX=2
MYSQL_URL=postgres://user:dbpassword123@localhost:5433/db?sslmode=disable